body {
  text-align: center;
  background: #f6fd8d;
  overflow: auto;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.btn {
  height: 120px;
  width: 120px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 2.2rem;
}
.red {
  background: rgb(234, 63, 63);
}
.green {
  background: rgb(22, 239, 22);
}
.yellow {
  background-color: rgb(239, 145, 3);
}
.purple {
  background: rgb(241, 29, 241);
}
.flash {
  background-color: white;
}
.userFlash {
  background-color: green;
}
